* {
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    font-family:"Roboto","Helvetica","Arial",sans-serif;;
    display: block;
}

header{
    color: white;
    background-color: cornflowerblue;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    position: fixed;
    width: 100%;
    display: flex;
    align-items:center;
    z-index: 1;
}

.menu:hover{
    cursor: pointer;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    padding-bottom: 8px;
    border-color: white;
}

.menu:active{
    background-color: rgb(74, 119, 255);
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    padding-bottom: 8px;
    border-color: white;
}

h4{
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

#simbolo{
    height: 35px;
    width: 40px;
}

.container{
    z-index: 0;
    width: 75%;
    min-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.panel{
    margin-bottom: 10px;
    padding-bottom:10px;
    padding-top: 50px;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.mat-form-field-infix{
    border-width: 0px;
}

.mat-form-field{
    display: block;
    height: 1px;
    border-radius: 0;
}